﻿@{
    ViewBag.Title = "DisplayFizBuzz";
}

<div>
    @Html.ActionLink("Back to Input Screen", "Index")
</div>

<h2>Display Fizz Buzz</h2>

@foreach (var item in ViewBag.Message)
{
    <div > @Html.Raw(@item.text)</div>
}

<div>&nbsp;</div>
<div>
    @if (ViewBag.Message.HasPreviousPage)
    {
     
        @Html.ActionLink("Previous", "paging", new { page = ViewBag.Message.PageNumber - 1, number = ViewBag.Message.TotalItemCount })
    }
    else
    {
      
        @:Previous
    }
     
    @if (ViewBag.Message.HasNextPage)
    {
        @Html.ActionLink("Next", "paging", new { page = ViewBag.Message.PageNumber + 1, number = ViewBag.Message.TotalItemCount })
     
    }
    else
    {
        @:Next
      
    }

</div>
