﻿@model AvivaExercise.Models.FizzBuzz

@{
    ViewBag.Title = "FizzBuzz";
}

<h2>Fizz Buzz Exercise</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>FizzBuzz</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.number)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.number)
            &nbsp;&nbsp;
            @Html.ValidationMessageFor(model => model.number)
        </div>

        <p>
            <input type="submit" value="Generate Fizz Buzz Series" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

